:root {
  --navbar-button-width: 120px;
  --navbar-hieght: 50px;
  --border-color: rgb(210, 210, 210);
}

.navbar-container {
  border-bottom: 1px solid var(--border-color);
  height: var(--navbar-hieght);
  margin-bottom: 20px;
}

.navbar-button {
  text-decoration: none;
  color: rgb(50, 50, 50);

  width: var(--navbar-button-width);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar-button:hover {
  border-bottom: 3px solid blue;
}

.active-header {
  border-bottom: 3px solid blue;
}
